@font-face {
	font-family: "Pretendard";
	src: url("../assets/font/PretendardVariable.woff2") format("woff2");
	font-weight: 400 800;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	margin: 0;
	font-family: Pretendard;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	background: #262f38;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
ul,
input,
button,
figure {
	margin: 0;
}

video,
svg,
img {
	vertical-align: bottom;
	object-fit: cover;
}

button {
	padding: 0;
	border: 0;
	cursor: pointer;
	background: transparent;
}

button,
input,
select,
textarea {
	font-family: Pretendard;
}

.main_layout {
	padding-top: 60px;
	transform-style: preserve-3d;
	perspective: 1000px;
	min-height: calc(var(--vh, 1vh) * 100);
	display: flex;
	flex-direction: column;
	background: #ffffff;
	transition: transform 0.5s;
	transform: translate3d(0, 0, 0);
	will-change: transform;
}

.blank {
	height: 500px;
	background: rgba(0, 0, 0, 0.5);
}
