nav {
	display: flex;
	margin: 20px 20px;
	gap: 0.75rem;
	.nav_btn {
		border: 1px solid #d0c8c8;
		border-radius: 1rem;
		padding: 5px 10px;
		background: #222;
		color: #fff;
		&.active {
			background: #fff;
			color: #222;
		}
	}
}
